* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: "Roboto", sans-serif;
}

.content {
  color: #edf0f1;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.page-header {
  margin-top: 15px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #edf0f1;
  height: 7vh;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.text-icon {
  font-size: 40px;
  padding-right: 7px;
}

.text-icon:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.text-icon:active {
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translate(5px, 5px) rotate(0deg);
  }
  50% {
    transform: translate(-5px, -5px) rotate(0deg);
  }
}
.content-body-text {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5vh;
}

.text-header {
  padding-left: 25%;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 60px;
  margin-bottom: 10vh;
}

.text-text {
  padding-left: 15%;
  font-size: 25px;
}

.content-body-image {
  width: 40%;
}

.image {
  width: 300px;
  height: 300px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 50%;
  margin-top: 20vh;
}

@media screen and (max-width: 768px) {
  .text-icon {
    font-size: 30px;
    padding-right: 7px;
  }

  .page-header {
    font-size: 20px;
  }

  .content {
    margin-top: 20px;
    color: #edf0f1;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .content:nth-child(odd) {
    flex-direction: column;
  }

  .content-body-text {
    width: 100%;
    margin: auto;
    margin-top: 20px;
  }

  .text-header {
    padding-left: 0;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 25px;
  }

  .text-text {
    padding-left: 0;
    font-size: 15px;
    text-align: center;
    margin: auto;
    padding: 20px;
  }

  .content-body-image {
    width: 100%;
  }

  .image {
    margin-top: 30px;
    width: 200px;
    height: 200px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    border-radius: 50%;
  }
}
