* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: "Roboto", sans-serif;
}

.page-header {
  margin-top: 15px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #edf0f1;
  height: 7vh;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.socials {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.socials-content {
  width: 50%;
  display: flex;
  margin-bottom: 20px;
}

.socials-text {
  color: #edf0f1;
  margin-left: 20px;
}

.material-symbols-outlined {
  color: #edf0f1;
}

.contact {
  margin-top: 70px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: #edf0f1;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  width: 40%;
}

.title {
  background-color: #edf0f1;
  color: black;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  background-color: #edf0f1;
  color: black;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  background-color: #edf0f1;
  color: black;
  height: 50px;
  width: 100%;
}
.form-r {
  background-color: #edf0f1;
}
.ic1 {
  background-color: #edf0f1;
  color: #edf0f1;
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.input-container label {
  background-color: #303245;
  color: #edf0f1;
}

.submit {
  background-color: black;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #1e1d1d;
}

@media screen and (max-width: 768px) {
  .contact {
    flex-direction: column;
  }

  .form {
    width: 80%;
  }

  .socials {
    margin-top: 50px;
    width: 100%;
  }

  .socials-content {
    width: 80%;
  }
}
